{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Memo - Virtual Keyboard w/ HTML, CSS & JS</title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pen/css/style.css'%}">
    <script src="{% static 'pen/js/script.js' %}"></script>
</head>
<body>

    <textarea class="use-keyboard-input"></textarea>


    <form>
        <label><textarea name="body" cols="40" rows="10"></textarea></label>
        </br>   <!--  Break -->
        <button type="button">a</button>
        <button type="button">ą</button>
        <button type="button">b</button>
        <button type="button">c</button>
        <button type="button">ć</button>
        <button type="button">d</button>
        <button type="button">e</button>
        <button type="button">ę</button>
        <button type="button">f</button>
        <button type="button">g</button>
        <button type="button">h</button>
        <button type="button">i</button>
        <button type="button">j</button>
        </br>
        <button type="button">k</button>
        <button type="button">l</button>
        <button type="button">ł</button>
        <button type="button">m</button>
        <button type="button">n</button>
        <button type="button">ń</button>
        <button type="button">o</button>
        <button type="button">ó</button>
        <button type="button">p</button>
        <button type="button">q</button>
        <button type="button">r</button>
        <button type="button">s</button>
        <button type="button">ś</button>
        </br>
        <button type="button">t</button>
        <button type="button">u</button>
        <button type="button">v</button>
        <button type="button">w</button>
        <button type="button">x</button>
        <button type="button">y</button>
        <button type="button">z</button>
        <button type="button">ź</button>
        <button type="button">ż</button>
    </form>


</body>
</html>