{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Memo - Virtual Keyboard w/ HTML, CSS & JS</title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pen/css/style.css'%}">
    <script src="{% static 'pen/js/script.js' %}"></script>
</head>
<body>
    <form action="{% url 'pen:add_new_memo' %}" method="post">
        {% csrf_token %}
        <textarea name="memo_body" class="use-keyboard-input" cols="95" rows="20"></textarea>
        <button type="submit">Save the note</button>
    </form>
</body>
</html>