.highlight
{
    border: 3px solid black;
    font-weight: bold;
    background-color: red;
    height: 55px;
    width: 140px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
}

.highlighted
{
    border: 3px solid black;
    font-weight: bold;
    background-color: green;
    height: 55px;
    width: 140px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
}

.buttons {
    border: 3px solid black;
    font-weight: bold;
    background-color: green;
    height: 55px;
    width: 140px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
}