.highlight
{
    border: 3px solid black;
    font-weight: bold;
    background-color: red;
    height: 60px;
    width: 180px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
    border: none;
    margin: 2px;
}

.highlighted
{
    border: 3px solid black;
    font-weight: bold;
    background-color: green;
    height: 60px;
    width: 180px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
    border: none;
    margin: 2px;
}

.buttons {
    border: 3px solid black;
    font-weight: bold;
    background-color: green;
    height: 60px;
    width: 180px;
    font-size: 40px;
    text-align:center;
    border-radius: 20px;
    border: none;
    margin: 2px;
}